/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

/* Header Navigation */
#head-nav {
    background: linear-gradient(to bottom right, #90cdf4, #a0aec0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#task-head {
    color: #fff;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #4bbf6a;
    /* Green on hover */
}

/* Task List */
#task-list {
    margin: 20px;
}

.task-item {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.task-item p {
    margin: 8px 0;
    font-size: 18px;
}

.task-item input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-item button {
    margin-right: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-item button:hover {
    background-color: #007bff;
    /* Blue on hover */
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Add Task Form */
#task-description {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#add-task-btn,
#logout-link {
    background-color: #4CAF50;
    /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#add-task-btn:hover,
#logout-link:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

/* Task Status Colors */
.task-item p.status {
    font-weight: bold;
}

.task-item p.status[data-status="todo"] {
    color: blue;
}

.task-item p.status[data-status="in-progress"] {
    color: orange;
}

.task-item p.status[data-status="done"] {
    color: green;
}